@if (data is null)
{
    <div class="error-content">
        <p class="title-1">Oops! :(</p>
        <p class="text">
            Doesn't have any follower yet.
        </p>
    </div>
}
else
{
    <h2 class="sr-only">Repositories</h2>
}

@code{

    [Parameter]
    public Repository? data { get; set; }

}